h2 {
      color: purple;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
      text-decoration: underline;
      text-align: center;
    }

 .links {
      border: 3px dotted gold;
      padding: 10px;
      text-align: center;
      text-decoration: underline;
    }

  .center-list {
  text-align: center;
}