 h1 {
      color: navy;
      font-family: Gill Sans, sans-serif;
      text-align: center;
    }

    h2 {
      color: #48D1CC;
      font-family: Arial;
      text-align: left;
      size: 22px;
    }

    h3 {
      color: #E6E6FA;
      font-family: Verdana, sans-serif;
      text-align: right;
      size: 18px;
    }

      .green-heading {
        color: green;
      }

    p {
      font-family: "Comic Sans MS", sans-serif;
    }

    .blue-italic-underline {
      color: blue;
      font-style: italic;
      text-decoration: underline;
      text-align: center;
    }

    .quote-one-section {
      background-color: yellow;
      padding: 10px;
    }
    .big-letter {
      font-size: 1.5em;
    }
    
    .quote-two-section {
      background-color: green;
      padding: 10px;
    }

    .quote-three-section {
      background-color: lime;
      padding: 10px;
    }

    #last-quote {
      border: 3px dotted red;
      padding: 10px;
    }
    /* #Quote-Three {
      color:green;
    } */

    .tiger-img {
  float: left;
  margin-right: 10px;
    }

    .big-letter {
  font-size: 1.5em;
    }